@use postcss-short;
@use postcss-clearfix;

.layout {
  display: block;
  width: 100%;
}

.header {
  border-bottom: 1px solid #e6e8eb;
  padding: 32px 0;
}

.back {
  position: absolute;
  left: 0;
  margin: -8px 0 auto 12px;
  width: 180px;
}

.icon {
  float: left;
  margin-right: 8px;
  font-weight: 800;
  font-size: 16px;
  color: #6e7987;
}

.caption {
  font-size: 16px;
  color: #6e7987;
}

.avatar {
  position: absolute;
  right: 0;
  margin: -36px 40px 0 0;
}
