.date-input {
  margin: 20px 0 20px;
}

.input {

}

.value {
  font-size: 32px;
	line-height: 1.12;
	text-align: left;
	color: #9da0a4;
}

.button {
  float: right;
  margin: 15px 0 0;
  font-size: 16px;
	text-align: right;
	color: #0080ff;
}

.description {
  
}