.topbar {
  display: block;
  padding: 40px 0;
}

.title {
  font-size: 26px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 200px);
}

.avatar {
  position: absolute;
  right: 0;
  margin: -36px 40px 0 0;
}

.avatar-icon {
  margin: 4px 0 0;
  cursor: pointer;
}
