.input {
  float: left;
  clear: both;
}

.value {
  font-size: 32px;
  text-align: left;
  color: #111;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  text-align: left;
  color: #111;
  margin-bottom: 30px;
}
