.input {
  padding: 15px 0;
  width: 620px;
  margin: 0 auto;
  padding-bottom: 54px;
  border-bottom: 1px solid #e6e8eb;
}

.value {
  float: left;
  font-size: 32px;
  color: #111;
  padding-top: 6px;
}

.button {
  width: 100px;
  height: 32px;
  float: right;
}
