@use postcss-inline-svg;
@use postcss-short;

.icon {
  display: inline-block;
}

/* Auth */
.eye {
  composes: icon;
  size: size('svg/eye.svg');
  background: svg-load('svg/eye.svg');
}

.eye-active {
  composes: icon;
  size: size('svg/eye-active.svg');
  background: svg-load('svg/eye-active.svg');
}

/* Employee */
.logout {
  composes: icon;
  size: size('svg/logout.svg');
  background: svg-load('svg/logout.svg');
}

.lock {
  composes: icon;
  size: size('svg/lock.svg');
  background: svg-load('svg/lock.svg');
}

.pencil {
  composes: icon;
  size: size('svg/pencil.svg');
  background: svg-load('svg/pencil.svg');
}
