@use postcss-short;

.body {

}

.background {
  size: 100%;
  min-height: 100%;
  position: fixed 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow-y: scroll;
}

.popup {
  width: 380px;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 160px auto;
}

.title {
  font: normal 26px Roboto;
  color: #222;
  margin-bottom: 20px;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.close {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 10000;
  cursor: pointer;
  background-color: transparent;

  & > img {
    width: 14px;
    height: 14px;
    margin-right: 7px;
  }
}
