.tab {
  display: inline-block;
  cursor: pointer;
  margin-right: 25px;
  font: normal 16px;
  color: #6e7987;
  padding: 15px 0;
}

.active {
  composes: tab;
  color: #222;
  cursor: pointer;
  border-bottom: 1px solid #222;
}
