body {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333;
}

a {
  text-decoration: none;
  cursor: pointer;
  font: normal 15px Roboto;
}

div, header, section, aside {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: 0px;
  outline: 0px;
}