.date-input {
  margin: 30px 0;
}

.value {
  font-size: 32px;
  line-height: 1.12;
  text-align: left;
  color: #9da0a4;
}

.button {
  float: right;
  cursor: pointer;
  margin: 10px 0 0;
  font-size: 16px;
  text-align: right;
  color: #0080ff;
}